html, body
{
    margin: 0;
    height: 100%;
}
/*
.items-area
{
    margin: -20px 0 -200px 0;
    min-height: 100%;
    padding: 10px;
    border-collapse: collapse;

}

.items-area:after
{
    display: block;
    content: "";
}

.body-footer, .items-area:after
{
    position: absolute;
    height: 200px;
}
*/
.image-box img
{
    width: 70%;
    height:10%;
    position: relative;
}
.items-display table
{
    border: none;

}
.items-display table .sort-by-box
{
    float: right;
}