.page-header
{
    width: 100%;
    height:13%;
    margin-top: -2px;
    padding: 12px 0 0 0;
    background: inherit;
}
.logo-text
{
    font-weight: bold;
    font-size: 35px;
    font-family:Cambria;
}
.links-area
{
    width: 100%;
    margin-top: -20px;
    border-radius: 0;
    /*background: #004085;*/
}

.body-footer
{
    background: #f5f5f5;
    border-top: solid 1px #ddd;
    vertical-align: bottom;
    display: table-row;
}